**/.git
**/.gitignore
**/.gitattributes
**/.github
**/.idea
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/publish
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.venv
**/venv
**/env
**/.env
**/.env.local
**/node_modules
**/*.user
**/*.suo
**/*.log
**/Dockerfile*
**/docker-compose*.yml
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/deploy
**/docs
**/scripts/init.sql
LICENSE
README.md
